<h1>Listing users</h1>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Overall</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.level %></td>
    <td><%= user.overall %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>

<%= will_paginate @users %>